<p id="notice"><%= notice %></p>

<h1>Causes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @causes.each do |cause| %>
      <tr>
        <td><%= cause.name %></td>
        <td><%= link_to 'Show', cause %></td>
        <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
        <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause', new_cause_path %>
